<!DOCTYPE html>
<html>
  <head>
    <title>Karaokeism | Your Profile</title>
    <!-- Importing Stylesheet and Assets -->
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/utility-styles.css">
    <link rel="icon" href="../assets/monogram-hq.png">

    <!-- Importing Icons from fontawesome.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
     integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Importing Google Font - Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation Bar Section -->
    <header>
      <nav>
        <ul class="navbar">
          <li class="navbar-left">
            <a href="/profiles/?id=<%= profile.getId() %>">
              <div class="profile-picture-container">
                <img src="../assets/<%= profile.getProfilePic() %>" alt="Profile Picture">
              </div>
              <p><%= profile.getDisplayName() %></p>
            </a>
          </li>
    
          <li class="navbar-center">
            <a href="/">
              <img src="../assets/monogram-hq.png" alt="Karaokeism Logo" class="logo-container">
            </a>
          </li>

          <li class="navbar-right">
            <div class="search-bar-container">
              <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search..." class="search-bar" aria-label="Search">
                <button type="submit" class="search-icon">
                  <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </button>
              </form>
            </div>

            <div>
              <button class="signout-btn" aria-label="Sign Out">
                <i class="fa-solid fa-right-to-bracket"></i>
                Sign Out
              </button>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Hero Banner Section -->
    <section id="hero-banner">
      <div class="hero-banner">
        <h1>Welcome to Karaokeism</h1>
        <p>A place to <span>Connect</span> with Fellow Karaoke Enthusiast</p>
      </div>
    </section>

    <!-- User Profile Section -->
    <section id="user-profile">
      
      <div class="main-container">
        <div class="profile-container">
          <img src="../assets/<%= profile.getProfilePic() %>" alt="<%= profile.getDisplayName() %> Profile Picture">
        </div>
        <div class="profile-text-container">
          <h1><%= profile.getDisplayName() %></h1>
          <h3><%= profile.getAge() %>, <%= profile.getPlace() %></h3>
          <strong>Joined February 2025</strong>
          <p><%= profile.getBio() %></p>
        </div>
      </div>

    <!-- User Post Section -->
    <% posts.forEach(post => { %>
    <section id="user-post">
      <div class="main-container">
          <div class="post-profile-picture-container">
            <img src="../assets/<%= profile.getProfilePic() %>" alt="Profile Picture">
            <div class="display-name">
              <a href="/profiles/?id=<%= post.getAuthorID() %>"><%= post.getAuthorName() %></a>
            </div>
          </div>
          
          <!-- User Post Container -->
          <div class="post-container">
            <div class="post-text">
              <%= post.getContent() %>
            </div>
            
            <!-- Media Container in post, accommodating user that posts with media such as images or videos -->
              <% if (post.getMedia() && post.getMedia().type) { %>
                <% if (post.getMedia().type === 'video') { %>
                  <div class="media-container">
                    <video controls alt="<%= profile.getDisplayName() %> Video Upload">
                      <source src="<%= post.getMedia().url %>" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                <% } else if (post.getMedia().type === 'audio') { %>
                  <div class="media-container">
                    <audio controls alt="<%= profile.getDisplayName() %> Audio Upload">
                      <source src="<%= post.getMedia().url %>" type="audio/mpeg">
                      Your browser does not support the audio element.
                    </audio>
                  </div>
                <% } else if (post.getMedia().type === 'image') { %>
                  <div class="media-container">
                    <img src="<%= post.getMedia().url %>" alt="<%= profile.getDisplayName() %> Picture Upload">
                  </div>
                <% } else if (post.getMedia().type === 'mixed') { %>
                  <div class="media-container">
                    <% post.getMedia().urls.forEach(url => { %>
                      <img src="<%= url %>" alt="<%= profile.getDisplayName() %> Picture Upload">
                    <% }) %>
                  </div>
                <% } %>
              <% } %>
            
            <!-- Like and Comment Button in User Post -->
            <div class="buttons-container">
              <button>
                <i class="fa-solid fa-thumbs-up"></i>
                <span>Like</span>
              </button>
              <button>
                <i class="fa-solid fa-comment"></i>
                <span>Comment</span>
              </button>
            </div>
            
            <!-- User Comments Container -->
            <% if (post.getComments() && post.getComments().length > 0) { %>
              <% post.getComments().forEach(comment => { %>
                <div class="comments-container">
                  <div class="comment">
                    <img src="../assets/<%= comment.profilePic %>" alt="<% comment.authorName %> Profile Picture">
                    <div class="comment-content">
                      <div class="commentor-name">
                        <a href="/profiles/?id=<%= comment.authorID %>"><%= comment.authorName %></a>
                      </div>
                      <div class="comment-text"><%= comment.text %></div>
                      <a href="#" class="like-link">Like</a>
                    </div>
                  </div>
                </div>
              <% }) %>
            <% } %>

            <!-- Comments text input and buttons -->
            <div class="comment-input-container">
              <img src="../assets/<%= profile.getProfilePic() %>" alt="Profile Picture">
              <input type="text" placeholder="Write a comment...">
              <button><i class="fa-solid fa-image"></i></button>
              <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
          </div>  
        </div>
      </div>
    </section>
    <% }) %>

    </section>

    <!-- Footer Section -->
    <footer>
      <section id="footer">
        <div class="footer-container">
          <div class="footer-link">
            <ul>
              <li>
                <a href="#footer">Terms of Use</a>
              </li>
              <li>
                <a href="#footer">Privacy Policy</a>
              </li>
              <li>
                <a href="#footer">Cookie Settings</a>
              </li>
              <li>
                <a href="#footer">Ad Choices</a>
              </li>
              <li>
                <a href="#">Back to Top</a>
              </li>
            </ul>
          </div>
          <div class="footer-copyright">
            <p>&copy; 2025 Karaokeism. This project is made by Christopher Lissants in adherence
              to Web Programming assignment for The University of Arizona.
            </p>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>